
.App {
  background-color: white;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  width: 420px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  background-color: white;
}

.login-form-content,
.home-page-content {
  padding-left: 12%;
  padding-right: 12%;
}

.login-form-title,
.home-page-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: black;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: black
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.home-page-image {
  display: flex;
  justify-content: center;
}

.home-page-about {
   padding-top: 2.5em;
}