:root {
  --dynamic-font-size: 18px; /* Default value. */
}

html {
  font-size: var(--dynamic-font-size);
}

.App {
  background-color: white;
}

.form-text {
  font-size: 1em !important;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-form,
.observation-form {
  width: 620px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
}

.login-form-content,
.home-page-content {
  padding-left: 12%;
  padding-right: 12%;
}

.login-form-title,
.home-page-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: black;
  font-weight: 800;
}

label {
  font-weight: 600;
}

.home-page-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.home-page-image {
  display: flex;
  justify-content: center;
}

.home-page-about {
   padding-top: 2.5em;
}

.home-page-title {
  margin-top: 2.5rem;
}

.observation-form {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
}

.edit-row {
  outline: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

html[data-bs-theme='high-contrast'] {
  --bs-body-bg: #000; 
  --bs-body-color: #fff; 
}

html[data-bs-theme='dark'] h3 {
  color: white;
}

html[data-bs-theme='high-contrast'] h3 {
  color: white;
}

html[data-bs-theme='high-contrast'] #birdcount::placeholder {
  color: white;
}

html[data-bs-theme='high-contrast'] #birdname::placeholder {
  color: white;
}
html[data-bs-theme='high-contrast'] #fullname::placeholder {
  color: white;
}
html[data-bs-theme='high-contrast'] #subject::placeholder {
  color: white;
}
html[data-bs-theme='high-contrast'] #email::placeholder, #currentpassword::placeholder {
  color: white;
}
html[data-bs-theme='high-contrast'] #dateofbirth::placeholder {
  color: white;
}
html[data-bs-theme='high-contrast'] #message::placeholder {
  color: white;
}
html[data-bs-theme='high-contrast'] #newpassword::placeholder {
  color: white;
}

html[data-bs-theme='high-contrast'] .text-muted {
  color: white !important;
}

html[data-bs-theme='high-contrast'] .btn {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

html[data-bs-theme='high-contrast'] .btn:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

html[data-bs-theme='high-contrast'] a {
  color: #000080;
}

html[data-bs-theme='high-contrast'] a:hover {
  color: #01018f;
}

html[data-bs-theme='high-contrast'] .navbar {
  background-color: #98FB98 !important;
  color: #fff;
}

html[data-bs-theme='high-contrast'] .dropdown-menu {
  background-color: #98FB98 !important;
  color: #fff;
}

html[data-bs-theme="high-contrast"] .login-form {
  box-shadow: 1px 1px 10px white;
}

html[data-bs-theme="high-contrast"] .observation-form {
  box-shadow: 1px 1px 10px white;
}

html[data-bs-theme="high-contrast"] .card {
  outline: 1px solid white;
}

html[data-bs-theme="high-contrast"] th {
  color: #fff;
}

html[data-bs-theme="high-contrast"] td {
  color: #fff;
}

html[data-bs-theme="high-contrast"] #data-tables-tabs-tab-counties {
  color: #fff;
}

html[data-bs-theme="high-contrast"] #data-tables-tabs-tab-birds {
  color: #fff;
}

html[data-bs-theme="high-contrast"] .accordion-button.collapse::after {
  color: white;
}

html[data-bs-theme="high-contrast"] #address{
  color: #00DDFF;
}


html[data-bs-theme="high-contrast"] #phone{
  color: #00DDFF;
}

html[data-bs-theme="high-contrast"] #email{
  color: #00DDFF;
}

html[data-bs-theme="high-contrast"] #findabirdlink {
  color: #00DDFF;
}

.quiz-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .quiz-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.quiz-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.quiz-container:hover input ~ .quiz-radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.quiz-container input:checked ~ .quiz-radio {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.quiz-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.quiz-container input:checked ~ .quiz-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.quiz-container .quiz-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
